body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.area {
   width: 600px;
   height: 600px;
   background-color: rgb(255, 213, 151);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.block {
    width: 200px;
   height: 200px;
   border: brown 5px solid;
   box-sizing: border-box;
   text-align: center;
   font-size: 160px;
}